@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h3>Tổng hợp BC cấp xã</h3>        
        <p><a class="btn btn-default" href="/THBCLevel3/Index">THBC cấp xã &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Tổng hợp BC cấp huyện</h3>
        <p><a class="btn btn-default" href="/THBCLevel2/Index">THBC cấp huyện &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Tổng hợp BC cấp tỉnh</h3>
        <p><a class="btn btn-default" href="/THBCLevel1/Index">THBC cấp tỉnh &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Quản lý</h3>
        <p><a class="btn btn-default" href="/Management/Index">Các CN quản lý &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Cấu hình hệ thống</h3>
        <p><a class="btn btn-default" href="/Config/Index">Cấu hình &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Sao lưu dữ liệu</h3>
        <p><a class="btn btn-default" href="/Backup/Index">Sao lưu &raquo;</a></p>
    </div>
</div>